<div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
        <article role="pge-title-content">
            <header>
                <h2><span>Wid & Will</span> Craft, DIY, & Fun.</h2>
            </header>
            <p>Sebuah kolaborasi, dari sepasang suami istri, Widya & Willi</p>
        </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid" ng-if="productFirst.length">
        <figure ng-repeat="prodFirst in productFirst" class="effect-oscar">
            <img src="{{ prodFirst.featured_image_thumbnail_url }}" alt="" class="img-responsive"/>
            <figcaption>
                <h2>{{ prodFirst.title.rendered }}<span> Bag</span></h2>
                <!-- <div ng-bind-html="prodFirst.content.rendered"></div> -->
                <a href="#/product/{{ prodFirst.id }}">View more</a>
            </figcaption>
        </figure>
    </section>

    <div class="clearfix"></div>
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid" ng-if="productsLeft.length">
        <ul class="grid-lod effect-2" id="grid">
            <li  ng-repeat="prodLeft in productsLeft">
                <figure class="effect-oscar">
                    <img src="{{ prodLeft.featured_image_thumbnail_url }}" alt="" class="img-responsive"/>
                    <figcaption>
                        <h2>{{ prodLeft.title.rendered }} <span> Bag</span></h2>
                        <!-- <div ng-bind-html="prodLeft.content.rendered"></div> -->
                        <a href="#/product/{{ prodLeft.id }}">View more</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid" ng-if="productsRight.length">
        <ul class="grid-lod effect-2" id="grid">
            <li ng-repeat="prodRight in productsRight">
                <figure class="effect-oscar">
                    <img src="{{ prodRight.featured_image_thumbnail_url }}" alt="" class="img-responsive"/>
                     <figcaption>
                        <h2>{{ prodRight.title.rendered }}<span> Bag</span></h2>
                        <!-- <div ng-bind-html="prodRight.content.rendered"></div> -->
                        <a href="#/product/{{ prodRight.id }}">View more</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>
    <div class="clearfix"></div>
</div>